body{
    background-color: rgb(253, 253, 253);
}
#heading{
    text-align: center;
    display: block;
    color: rgb(0, 71, 171);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgb(126, 126, 126), 0px 0px 5px rgb(133, 113, 113);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(0, 150, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    display: block;
    float: left;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    margin-left: 10px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(28, 115, 207);
}
#photo img{
    height: 180px;
    width: 150px;
    float: right;
    border-style:solid;
    border-width: 5px;
    border-color: black;
    margin-top: 50px;
}
#photo h1{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(104, 104, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#photo{
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 15px;
}
#Info{
    margin-top: 50px;
}
#Info p{
    margin-left:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
#Info hr{
    margin-top: 50px;
    height: 2px;
    border: 0px;
    color: black;
    background-color: black;
}
